body {
    background-color: black;
    color: white;
    font-family: Roboto, sans-serif;
    padding: 0;
    max-width: 1440px;
    margin: 0 auto;
}
.mainContent {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 10px;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.navbarList {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 10px;
    list-style: none;
    justify-content: flex-end;
}

.navElements {
    text-decoration: none;
}

.logo {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: flex-start;
    
}

/* call to Action */

.callToAction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.callToActionTitle {
    font-size: 48px;
    font-weight: 400;
    font-family: "manrope", sans-serif;
    display: inline-block;
    position: relative;
    color: white; /* Texte blanc initial */
    font-weight: bold;
    cursor: pointer;
    overflow: hidden; /* Empêche le débordement de l'animation*/
}

.callToActionTitle::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Couleur du surlignage */
    transform: scaleX(0); /* Surlignage initial non visible */
    transform-origin: left;
    transition: transform 0.4s ease;
    z-index: -1; /* Place l'effet derrière le texte */
}

/* Changement de couleur au survol */
.callToActionTitle:hover {
    color: black; /* Change la couleur du texte en noir */
  }
  
  /* Animation de surlignage au survol */
  .callToActionTitle:hover::before {
    transform: scaleX(1); /* Étend le surlignage horizontalement */
  }
  

  /*button call to action */

  .buttonsLayout {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  
  .buttonCalltoAction {
    color: white;
    background-color: black;
    border: 1px solid white;
    padding: 10px 20px;
  }

  .buttonCalltoAction:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }

.partnersSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.carousel-container {
    height: 500px;
    width: 200px;
    overflow: hidden;  /* Cache les images en dehors du conteneur */
}

.carousel {
  display: flex;
  flex-direction: column;
 
}

.carousel-image {
  width: 100%;
  height: auto;
}

@keyframes slide {
  0%, 25% {
      transform: translateY(0);
  }
  50%, 75% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(-200%);
  }
}

